.card {
  width: 250px;
  background-color: yellowgreen;
  border-radius: 20px ;
  border: 8px solid yellowgreen;
  font-family: 'Anton', sans-serif;
  font-size: 1em;
  box-shadow: 7px 7px 15px darkolivegreen;
    
  &:hover {
    background-color: rgb(58, 64, 46);
    box-shadow: 9px 9px 18px rgb(58, 64, 46);
    border: 5px solid rgb(58, 64, 46);
    color: yellowgreen;
  }
  &__poster {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  
}

.desciption{
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  &__title {
    font-size: 1.5em;
    height: 2em;
    align-items: baseline;
    
    &--quote{
      color: whitesmoke;
    }
  }
}