.form{
  display: grid;
  place-items: center center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  font-family: 'Anton';
  color: yellowgreen;
  font-size: 40px;
  margin: 40px;
  box-sizing: border-box;
  gap: 20px;

  &__input{
    display: grid;
    place-items: center center;
 
    &__movieInput{
      height: 2em;
      border: 5px solid #419ad5;
      border-radius: 10px 5px;
    }

    &__label{
      padding-bottom: 5px;

      &:hover {
        color: black;
      }
    }
  }
}
